body
  background: $documentBackgroundColor
  font-family: 'Roboto', sans-serif
  font-size: 16px
  margin: 0
  padding: 0
.site-container
  width: 100%
  margin: 0
  padding-top: 90px

@media (max-width: 768px)
  .site-container
    width: 100%
