---
---

//------------------------------------------------
// Set some colors as sass variables
// Custom color scheme

$accent-color: #31638f
$accent: #31638f
$accent-light: #4b8ac9
$selectionColor: #4b8ac9

$textColor: #292929
$headlineColor: #0e7d5d
$bgcolor: #dbdbdb
$documentBackgroundColor: #dbdbdb
$hoverColor: #1da16c

@import '1-tools/-tools-dir'
@import '2-base/-base-dir'
@import '3-sections/-sections-dir'
