<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">

  </head>


  <body>
    <nav>
    </nav>
<div class="container">

  {{ content }}

</div>

  <footer>
   <ul>
   <li><a href="mailto:cindyn@stanford.edu">email</a></li>
   <li><a href="https://scholar.google.com/citations?user=jc-Xg3IAAAAJ&hl=en&inst=5746887945952177237&authuser=1">google scholar</a></li>
   <li><a href="https://www.linkedin.com/in/ccnguyenn/">linkedin</a></li>
   <li><a href="https://github.com/ccnguyen">github.com/ccnguyen</a></li>
   </ul>
  </footer>
  </body>

</html>
